.row {
    display: flex;    
    margin: 20px 0;
}

/* Card styling */
.assignment-card {
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px;  
    height: 550px;    
    margin: 10px 0; 
    transition: transform 0.2s ease-in-out;   
    overflow: scroll;  
}
@media (max-width: 480px) {

    .assignment-card{
        background-color: #fff; 
        border-radius: 8px;
        padding: 20px;  
        height: auto;    
        margin: 10px 0; 
        transition: transform 0.2s ease-in-out;   
        overflow: scroll;  
    }
}

.assignment-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
}

/* NavLink styling */
.assignment-card a {
    text-decoration: none; 
    color: inherit;
}

/* Title styling */
.assignment-card h4 {
    font-size: 1.5rem; 
    margin-bottom: 10px;
    color: #333; 
}

/* Bold text styling */
.text-bold {
    font-weight: 600; 
    color: #555; 
}

/* Description styling */
.assignment-card p {
    font-size: 1rem; 
    line-height: 1.5; 
    color: #666; 
    margin-bottom: 10px; 
}

.p-accordion-header .p-accordion-toggle-icon {
   padding: 0px;
   font-size: 40px;
   width: 40px;
}
.p-accordion-header {
    margin-top: 10px;
}

#image-label-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#image-label-container .image-label {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #image-label-container .image-label img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    transition: transform 0.3s ease;
  }
    
  #image-label-container .image-label label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .image-label:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .image-label:hover img {
    transform: scale(1.1);
  }
  
  .image-label:hover label {
    color: #007bff;
  }
.assignmentStatusContainer label{

    font-size: 17px;
    font-weight: 1000px;
}
.assignment-card small{
    
    font-size: 17px;
    font-weight: 1000px;
}

/* Example custom CSS */
.dropdown-container {
    margin: 0 auto;
    padding: 10px;
}

.dropdown-custom .p-dropdown {
    border: 2px solid #007bff; /* Custom border color */
    border-radius: 8px;        /* Rounded corners */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.dropdown-custom .p-dropdown:hover {
    border-color: #0056b3;
}

.dropdown-custom .p-dropdown-label {
    font-size: 1rem;           /* Custom font size */
}

.dropdown-custom .p-dropdown.p-focus {
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.2);
}

.dropdown-custom .p-dropdown-panel {
    border-radius: 8px;        /* Rounded panel */
}
