.row {
    display: flex;    
    margin: 20px 0;
}

/* Card styling */
.assignment-card {
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px;  
    height: 550px;    
    margin: 10px 0; 
    transition: transform 0.2s ease-in-out;   
    overflow: scroll;  
}
@media (max-width: 480px) {

    .assignment-card{
        background-color: #fff; 
        border-radius: 8px;
        padding: 20px;  
        height: auto;    
        margin: 10px 0; 
        transition: transform 0.2s ease-in-out;   
        overflow: scroll;  
    }
}

.assignment-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
}

/* NavLink styling */
.assignment-card a {
    text-decoration: none; 
    color: inherit;
}

/* Title styling */
.assignment-card h4 {
    font-size: 1.5rem; 
    margin-bottom: 10px;
    color: #333; 
}

/* Bold text styling */
.text-bold {
    font-weight: 600; 
    color: #555; 
}

/* Description styling */
.assignment-card p {
    font-size: 1rem; 
    line-height: 1.5; 
    color: #666; 
    margin-bottom: 10px; 
}

.p-accordion-header .p-accordion-toggle-icon {
   padding: 0px;
   font-size: 40px;
   width: 40px;
}
.p-accordion-header {
    margin-top: 10px;
  }