
#batchStudent .studentList{
    display: flex;
    flex-direction: row;  
    gap: 10px;
    margin-top: 20px;     
    border-bottom: 1px solid gray;          
    margin-bottom: 10px;   
    color: #6482AD;    
}
#batchStudent .studentList label{ 
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: none;
    list-style: none;    
}

#batchStudent .studentList img{
    width: 100px;
    height: 60px;    
    clip-path: circle();
    margin: 10px;
}
#batchStudent .scroll{

    overflow: scroll;
    height: 585px;
}
#batchStudent .assignment{
    background-color: #6482AD;
    color: white;
    border-radius: 20px;
    padding: 5px 7px 5px 7px ;
    border: 1px solid #F6F5F5;
}

@media only screen and (max-width: 767px) {
    .batchStudent .student-names{
        display: none;
        background-color: red;
    }
  }

.chatContainer {
    background-color: #EEF7FF;                
}
.chatContainer .title
{   
    display: flex;
    flex-direction: row;    
    align-items: center;  
    padding: 10px 0px 10px 0px;    
}

.chatContainer img{
    clip-path: circle();   
    width: 100px;
    height: 50px;
}

.chatContainer .title .media{    
    margin-left: auto;
    display: flex;
    gap: 20px; 
    padding-right: 10px;
}

.chatContainer .title .media .call{
    font-size: 20px;    
    color: #4CAF50;
    background-color: #fff;
    padding: 0px 10px 0px 10px;    
    border-radius: 5px;
    cursor: pointer;
}
.chatContainer .title .media .video{
    font-size: 20px;    
    color: #FFAD60;
    background-color: #fff;
    padding: 0px 10px 0px 10px;    
    border-radius: 5px;
    cursor: pointer;
}
.chat-context{
    height: 500px;    
    overflow-y: scroll;
    width: 100%;
    background-color: #F6F5F5;
    display: flex;
    flex-direction: column;
}

.chat{
    display: flex;
    flex-direction: row;    
}

.chat input{
    border-radius: 20px;
}

.chat .send{
    font-size: 20px;    
    padding: 5px;
    background-color: #6EACDA;
    color: white;
    border-radius: 5px;    
}

.chat-context .client-context .client{
    
    background-color: #fff;
    margin: 10px 10px 10px 0px;
    padding: 12px 12px 12px 12px;
    border-radius: 20px;        
}

.chat-context .client-context .client-dp{
    clip-path: circle();   
    width: 100px;
    height: 50px;
}

.owner-context .owner-context{
    display: flex;
    flex-direction: row;
    gap: 2px;     
}

.chat-context .owner-context .owner-dp{    
    clip-path: circle();
    width: 100px;
    height: 50px;    
    float: right;
}

.chat-context .owner-context .owner{
    background-color: #6EACDA;
    color: white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    float: right;
}
.navLink{

    text-decoration: none;
    list-style-type: none;    
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;        
}
.studentList button{

    background-color: white;
    color: #6482AD;
}
.studentList:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
}