
#batchStudent .studentList{
    display: flex;
    flex-direction: row;  
    gap: 10px;
    margin-top: 10px;     
    border-bottom: 1px solid gray;          
    margin-bottom: 10px;   
    color: #6482AD;    
}
#batchStudent .studentList label{ 
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: none;
    list-style: none;    
}

#batchStudent .studentList img{
    width: 100px;
    height: 60px;    
    clip-path: circle();
    margin: 10px;
}
#batchStudent .scroll{

    overflow: scroll;
    height: 585px;
}
#batchStudent button{
    background-color: #6482AD;
    color: white;
    border-radius: 20px;
    padding: 5px 7px 5px 7px ;
    border: 1px solid #F6F5F5;
}
.chatContainer {
    background-color: #EEF7FF;    
}
.chatContainer .title
{   
    display: flex;
    flex-direction: row;    
    align-items: center;  
    padding: 10px 0px 10px 0px;

}

.chatContainer img{
    clip-path: circle();   
    width: 100px;
    height: 50px;
}

.chatContainer .title .media{    
    margin-left: auto;
    display: flex;
    gap: 20px; 
    padding-right: 10px;
}

.chatContainer .title .media .call{
    font-size: 20px;    
    color: #4CAF50;
    background-color: #fff;
    padding: 0px 10px 0px 10px;    
    border-radius: 5px;
    cursor: pointer;
}
.chatContainer .title .media .video{
    font-size: 20px;    
    color: #FFAD60;
    background-color: #fff;
    padding: 0px 10px 0px 10px;    
    border-radius: 5px;
    cursor: pointer;
}
.chat-context{
    height: 500px;    
    overflow-y: scroll;
    width: 100%;
}

.chat{
    display: flex;
    flex-direction: row;
}
.chat .send{
    font-size: 25px;
    padding: 5px;
    background-color: #6EACDA;
    color: white;
    border-radius: 5px;
}
